<div class="container mt-5" *ngIf="department">
    <h2 class="mb-4">Department Information</h2>

    <p><b>Name: </b>{{ department.name }}</p>
    <p><b>API Key: </b>{{ department.APIKey }}</p>

    <h2 class="mb-4 mt-5">Contact Information</h2>

    <p><b>Name: </b>{{ department.contact.name }}</p>
    <p><b>Email: </b>{{ department.contact.email }}</p>
    <p><b>Phone: </b>{{ department.contact.phone }}</p>

    <button class="btn btn-success mt-5" [routerLink]="['']">Back to Homepage</button>

</div>
